.container {
  max-width: 100%;
  margin: 0 auto;
}

.glider-contain {
  position: relative;
}

.glider-prev,
.glider-next {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.glider-prev {
  left: -40px;
}

.glider-next {
  right: -40px;
}

.glider-item {
  padding: 15px;
}

.glider article {
  background-color: #000000;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
}

.glider img {
  max-width: 100%;
  border-radius: 50px;
  box-shadow: 1px 0px 10px 1px rgb(170, 170, 170);
  transition: 0.5s;
  cursor: pointer;
}

.glider img:hover {
  transform: scale(1.1);
}

.botaoAssistir {
  padding: 8px 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #fa0000;
  border-radius: 5px;
  font-weight: bold;
}

.botaoAssistir:hover {
  background-color: #ffffff;
  color: #c97070;
  /* box-shadow: 0px 2px 2px 2px rgba(201, 112, 112); */
}

.containerTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 15px 0px;
}
.tituloFilme {
  color: #ffffff;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

@media (max-width: 360px) {
  .glider-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .glider {
    display: flex;
    align-items: center;
    justify-content: center;

    article {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 55%;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}
